<h1>I am Databings example</h1>

<!-- //1.Interpolation Binding(or) 1 way binding  Syntax: {{property}} -->
<h1>Tile:{{ title }}</h1>
<h1>CompanyName:{{ CompanyName }}</h1>
<h1>Age is:{{ age }}</h1>
<h1>Result is:{{ isresult }}</h1>
<h1>FirstName is:{{ Firstname }}</h1>
<h1>Gender:{{ gender }}</h1>
<h1>Country:{{ Country }}</h1>
<a href="https://www.facebook.com/">facebookSite</a>
<br />

<!-- 2) Property Binding
• Syntax: <tag [attribute]=” property ”> </tag>
• “Property binding” is used to send data from component to template and assign the 
same into an attribute of the tag. -->
<a [href]="facebookAddress">facebookMainSite</a>
<br />

<!-- 4) Two-Way Binding
• Syntax: <tag [(ngModel)]=”property”> </tag> 
Note:Two way databinding is applicable for Input and select tags only.
-->
Firstname:<input type="text" [(ngModel)]="Firstname" />
<br />
age:<input type="text" [(ngModel)]="age" /> Result is:<input
  type="checkbox"
  [(ngModel)]="isresult"
/>
<input type="radio" [(ngModel)]="gender" value="Male" />Male
<input type="radio" [(ngModel)]="gender" value="Female" />Female<br />

Country:
<select [(ngModel)]="Country">
  <option>India</option>
  <option>Uk</option>
  <option>Usa</option>
</select>
<br />
<hr />

<!-- 3) Event Binding
• Syntax: <tag (eventname)=”functioname( )”> </tag>
• It is used to pass event notifications from template to component. -->
<input type="button" value="changeData" (click)="ChangedDataValues()" />
